html, body {
  height:100%;
  margin:0;
}


body {
  background-image: url(./Assets/connectwork.png);
}

.wrapper {
  min-width: 320px;
  min-height: 100%;
  padding-bottom: 70px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
}

/*nav bar, container + contained elements*/
#nav-container-1 {
  background: #ffffff;
  height:80px;
  margin: 0 0 30px 0;
  border-bottom: 2px solid #cccccc;
  align-self: stretch;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

#nav {
  flex-basis:960px;
  height: 80px;
  color:#ffffff;
  flex-wrap:wrap;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

#nav-home {
  background: #4aaaa5;
  flex:20%;
  max-width:180px;
  display:flex;
  align-self: stretch;
  align-items:center;
  padding:0 45px;
}

#nav-list {
  color: #777777;
  flex:60%;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

#nav-list li {
  margin: 0 20px;
}

/*about me content section, including photo and paragraph*/
#about-me {
  max-width: 960px;
  min-width: 300px;
  padding: 0 0 30px 0;
  background: #ffffff;
  display:flex;
  flex-direction: column;
}

.header-1 {
  font-weight: bold;
  color:#4aaaa5;
  margin: 30px 30px 0 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #cccccc;
}

#about-content {
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
}

#prof-pic {
  flex: 20%;
  max-height:270px;
  flex-grow:0;
  margin: 30px;
}

.about-p {
  flex:60%;
  padding: 30px;
  display:flex;
  flex-wrap:wrap;
}

.about-p p {
  color:#777777;
  margin: 0 30px 20px 30px;
  min-width: 500px;
  max-width: 960px;
  line-height: 1.3;
}

.portfolio-item {
  width:250px;
  margin: 30px;
  float:left;
}

/*.about-p {
  min-width: 250px;
}*/

#contact-form {
  padding:30px;
  width:960px;
  color:#777777;
  line-height: 1.7;
}

input {
  width: 80%;
  padding: 12px;
  margin: 8px;
}

input[type=submit] {
  background-color:#4aaaa5;
  width:70px;
  font:14px;
  color:#000000;
}

#footer {
  height:70px;
  background: #666666;
  width: 100%;
  margin-top:-70px;
  border-top: 6px solid #4aaaa5;
  box-sizing:border-box;
  /*position:absolute;
  bottom:0;*/
  display:flex;
  flex-direction:column;
  justify-content: space-around;
}

#copyright {
  align-self: center;
}

.serif {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 25px;
}

.sans-serif {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

@media screen and (max-width: 980px) {
  #copyright {
    background-color: blue;
  }
}

@media screen and (max-width: 768px) {
  #copyright {
    background-color: rgb(255, 0, 212);
  }
}

@media screen and (max-width: 640px) {
  #nav-home, #nav-list {
    flex:100%;
    justify-content: center;
    max-width:600px;
  }

  #prof-pic {
    flex-grow:0;
    height: 500px;
    width: 400px;
  }
  
  .about-p {
    flex:65%;
    padding:10px;
  }

  .about-p p {
    max-width: 350px;
    min-width: 200px;
    margin: 0 20px 20px 30px;
  }

  #about-me {
    width:100%;
  }

}